In [1]:
# aKA linear discriminant analysis

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
dataset=pd.read_csv("CKD.csv")

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
independent=dataset.iloc[:,:-1]

In [7]:
dependent=dataset.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=.30,random_state=False)

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
x_train.shape

(279, 27)

In [10]:
len(y_train.unique())# this is jus to find how man classes or unique values r there under output variable to find n_components.

2

# 3 now we r going to apply LDA

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda_model=LDA(n_components=2)
x_train=lda_model.fit_transform(x_train,y_train)
x_test=lda_model.transform(x_test)

In [11]:
#  n_components cannot be larger than min(n_features, n_classes - 1). when this error comes we check wats the max n_components aloowed
# for our dataset 
# max n_components= min(columns.shape[1],len(y_train.unique()) - 1) so here its min(27,2-1)= min(27,1) = 1
# so  max n_components =1

In [12]:
def LDA(n,x_train,x_test,y_train):
    
    from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
    lda_model=LDA(n_components=n)
    x_train=lda_model.fit_transform(x_train,y_train)
    x_test=lda_model.transform(x_test)
    return x_train,x_test

In [13]:
x_train,x_test=LDA(1,x_train,x_test,y_train)

# 4 we r going to create different models

In [14]:
acclog_reg=[]
accsvmlin=[]
accsvm_non=[]
accRF=[]
accDEC_tree=[]
accnavie_bayes=[]
accknn=[]

In [15]:
def cm_prediction(model,x_test,y_test):
    y_predict=model.predict(x_test)
    from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
    cm=confusion_matrix(y_test,y_predict)
    report=classification_report(y_test,y_predict)
    acc_score=accuracy_score(y_test,y_predict)
    return cm,report,acc_score

In [16]:
def logreg(x_train,y_train,x_test,y_test):
    from sklearn.linear_model import LogisticRegression
    model=LogisticRegression(random_state=0)
    model.fit(x_train,y_train)
    cm,report,acc_score=cm_prediction(model,x_test,y_test)
    return model,x_test,y_test,cm,report,acc_score


model,x_test,y_test,cm,report,acc_score=logreg(x_train,y_train,x_test,y_test)
acclog_reg.append(acc_score)

In [17]:
def svmlinear(x_train,y_train,x_test,y_test):
    from sklearn.svm import SVC
    model=SVC(kernel="linear",random_state=0)
    model.fit(x_train,y_train)
    cm,report,acc_score=cm_prediction(model,x_test,y_test)
    return model,x_test,y_test,cm,report,acc_score

model,x_test,y_test,cm,report,acc_score=svmlinear(x_train,y_train,x_test,y_test)
accsvmlin.append(acc_score)

In [18]:
def svmnonlinear(x_train,y_train,x_test,y_test):
    from sklearn.svm import SVC
    model=SVC(kernel="rbf",random_state=0)
    model.fit(x_train,y_train)
    cm,report,acc_score=cm_prediction(model,x_test,y_test)
    return model,x_test,y_test,cm,report,acc_score

model,x_test,y_test,cm,report,acc_score=svmnonlinear(x_train,y_train,x_test,y_test)
accsvm_non.append(acc_score)

In [19]:
def knn(x_train,y_train,x_test,y_test):
    from sklearn.neighbors import KNeighborsClassifier
    model=KNeighborsClassifier(n_neighbors=3)
    model.fit(x_train,y_train)
    cm,report,acc_score=cm_prediction(model,x_test,y_test)
    return model,x_test,y_test,cm,report,acc_score

model,x_test,y_test,cm,report,acc_score=knn(x_train,y_train,x_test,y_test)
accknn.append(acc_score)

In [20]:
def LDA_classification(acclog_reg,accsvmlin,accsvm_non,accknn):
    
    df=pd.DataFrame(index=["LDA"],columns=["logistic","svml","svmnl","knn"])
    for number,idex in enumerate (df.index):
        df["logistic"][idex]=acclog_reg[number]
        df["svml"][idex]=accsvmlin[number]
        df["svmnl"][idex]=accsvm_non[number]
        df["knn"][idex]=accknn[number]
    return df


result=LDA_classification(acclog_reg,accsvmlin,accsvm_non,accknn)

result

     logistic      svml     svmnl       knn
LDA  0.958333  0.958333  0.958333  0.958333